
.navbar{
    background-color: $fondo-oscuro;
    text-align: center;
    
    .navbar-brand{
        width: 50px;

        img{
            width: 100%;
            filter: drop-shadow(0 0 5px $black);
        }
        img:hover{
            transform: scale(1.1,1.1);
        }
    }
    .navbar-toggler i, .navbar-toggler{
        color: $texto-primario;
        border-color:$texto-primario;
    }

    .nav-link{
        color: $texto-primario !important;
        filter: drop-shadow(0 0 2px $black);
    }
}