main{
    width: 100%;
    @if $modo-oscuro == true {
        color: $texto-claro; 
        background-image: url("https://dl.dropboxusercontent.com/s/ddfyoxz1au3dax7/cielo-atard-peq.jpg?dl=0");
    } @else if $modo-oscuro == false {
        color: $texto-oscuro;
        background-image: url("https://dl.dropboxusercontent.com/s/8t5ev7zlmg9cc0d/cielo-peq.jpg?dl=0");   
    }
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

/*----------------------------INDEX-------------------------------*/
.intro{
    width: 100%;
    height: 100vh;

    &__titulo{
        width: 100vw;
        position: relative;
        @if $modo-oscuro == true {
            color: $titulo-claro; 
        } @else if $modo-oscuro == false {
            color: $titulo-oscuro; 
        }

        .titulo--uno{
            position: absolute;
            width: 100%;
            color:$none;
            @if $modo-oscuro == true {
                animation: title-one 10s linear 0s infinite;
            } @else if $modo-oscuro == false {
                animation: title-one-oscuro 10s linear 0s infinite; 
            }
        }
        .titulo--dos{
            position: absolute;
            width: 100%;
            color:$none;
            @if $modo-oscuro == true {
                animation: title-two 10s linear 0s infinite ;
            } @else if $modo-oscuro == false {
                animation: title-two-oscuro 10s linear 0s infinite ;
            }
        }
        .titulo--tres{
            font-size: 1.5rem;
            position: absolute;
            width: 100%;
            top:7rem;
            @if $modo-oscuro == true {
                animation: subtitle 1s linear 0s 1;
            } @else if $modo-oscuro == false {
                animation: subtitle-oscuro 1s linear 0s 1;
            }
        }
    }
    &__logo{
        z-index: 2;   
        img{
            transition: transform 1s;
          
            &:hover{
                transform: rotate(15deg);
            }
        }
    }
    &__boton{
        position:absolute;
        bottom: 10px;
    }
}

.trabajos{
    background-color: $grey-light;
    height: 100%;
    width: 100%;
    margin: 1rem 0 4rem 0;
    padding: 0;

    div{
        position: relative;
        background-color: $fondo-oscuro;
        background-size: cover;
        background-blend-mode:soft-light;
        height: 50vh;
        color:$titulo-claro;
        @include centrarContenido( center,center);
    
        &:hover{
            background-blend-mode:normal;
        }
    }
    @each $clave, $valor in $trabajos { 
        &--#{$clave}{ 
            background-image: url('../imagen/trabajos/#{$valor}.jpg');
        }
    }

    button{
        color: $texto-claro;
        text-align: center;
        font-size: 2.5rem;
        transition: none;
        filter:drop-shadow(0 0 5px $black);
        
        &:hover{
            color: $texto-claro;
            border:1px solid $white;
        }
    }
}

.modal-content{
    background-color: $fondo-claro;
    color:$texto-oscuro;

    .modal-footer{
        a{
            background-color: $fondo-oscuro;
            border: none;
            box-shadow: 0 0 1px $fondo-oscuro;
        
            &:hover{
                background-color: $fondo-oscuro;
                color:$texto-primario;
            }
        }
    }
}


/*----------------------------PRODUCTOS-------------------------------*/

.productos{
    width: 100%;
    height: 100%;
    padding: 0;

    .carousel-item img{
        object-fit: cover;
    }
}

.card{
    background-color: $fondo-transparente;

    &:hover{
        box-shadow:0 0 15px $fondo-oscuro;
    }

    a{
        background-color: $fondo-oscuro;
        border: none;
        box-shadow: 0 0 1px $fondo-oscuro;
    
        &:hover{
            background-color: $fondo-oscuro;
            color:$texto-primario;
        }        
    }
}

/*----------------------------NOSOTROS-------------------------------*/

.nosotros{
    padding: 0;
}
    .featurette{
        margin: .5rem 0;
        padding: .2rem;
        color:$texto-claro; 
        background-color: $fondo-transparente;
        letter-spacing: .1rem;
        h2{
            font-size: 1rem;
        }
        p{
            font-size: .8rem;
            font-weight: 200;
        }
        &__image{
            width: 300px;
            height: 300px;
                img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                }
        }
    }

    /*----------------------------FRECUENTES-------------------------------*/
.accordion{
width: 100%;
}

    /*----------------------------CONTACTO-------------------------------*/

.form{
    background-color: $fondo-transparente;
    .btn{
        background-color: $fondo-oscuro;
        border: none;
        color:$texto-claro;
             
        &:hover{
            background-color: $fondo-oscuro;
            color:$texto-primario;  
        }
    }
}



    /*---------------------------- 404 -------------------------------*/

.notfound{
    height: 100vh;
    color: $texto-primario;
    h1{
        font-size: 5rem;
        padding-top: 2rem;
    }
    a:hover{
        color:$texto-primario;
    }
    
}
